@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Inter_18pt-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Inter_18pt-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Inter_18pt-Bold.ttf') format('ttf');
}


:root {
    font-size: 62.5%;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: rgba(255, 255, 255, 0.36);
    --color-bg-dark: #181B20;
    --color-bg-section: rgba(255, 255, 255, 0.08);
    --color-grad-primary: #FFC657;
    --color-grad-secondary: #FFD977;

    --font-family-base: 'Inter', 'Arial', sans-serif;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

/*Способ расчета размеров элементов, который позволяет учитывать внутренние отступы и границы*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-primary);
    font-family: var(--font-family-base);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.0256rem;
}


/*Свойства обертки для ограничения по ширине содержимого сайта и для его центрирования*/
.wrapper {
    padding: 0 20px;
    max-width: 1180px;
    margin: 0 auto;
}

header {
    padding: 10px 0;
}

h1,
h2 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -0.23rem;
    margin: 40px 0;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.1rem;
    margin: 24px 0;
}

a {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
}

a.btn {
    /*Элемент приобретает свойства блочного элемента*/
    display: block;
    margin: 40px 0;
    background-color: var(--color-text-primary);
    color: var(--color-bg-dark);
    max-width: 320px;
    padding: 12px;
    border-radius: 16px;
    text-align: center;
}

p {
    color: var(--color-text-secondary);

}

p strong {
    color: var(--color-text-primary);
}

.chart {
    margin: 24px 0;
    max-width: 202px;
    min-height: 112px;
}

.chart-bar {
    background-color: var(--color-bg-section);
    border: 0.77px solid var(--color-bg-section);
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}

.chart-bar-active {
    background: linear-gradient(180deg, #FFC657 0%, #FFD977 100%);
}